    .
        {
            margin: 0px;
            padding: 0px;
            font-family: sans-serif;

        }
html, div {
    position: fixed;
    top: 288px;
    margin: 0;
    left: 316px;
    padding: 0;
    font-size: 100%;
    font-family: "Helvetica Neue", "Microsoft YaHei", sans-serif;
}

        
        .search-input {
        position: relative;
    vertical-align: top;
    margin-left: 24px;
    width: 57%;
    height: 53px;
    border: 0px;
    outline: 0;
    font-size: 22px;
    top: 0;
    right: -9px;
        }
    
        #panel
        {
            position: fixed;
            width: 200px;
            height: 100%;
            left: -200px;
            background: #151719;
            top: 0px;
            transition: all 500ms linear;
            

        }
        .button
        {      
    background: none;
    padding: 10% 20%;
    font-size: 105%;
    font-family: monospace;
    cursor: pointer;
    position: relative;
    border: 1px solid #30C29A;
    border-radius: 10px;
    box-shadow: 0 0 6px grey;
    width: 183%;
    background-color: #ffffff;
    top: -262px;
    left: 1363%;
        }
        #panel.active
        {
            left: 0px;

        }
        #panel ul li
        {
            color: rgba(230,230,230,0.9);
            list-style: none;
            padding: 15px 10px;
            border-bottom: 1px solid rgba(100,100,100,0.3);
            cursor: pointer;
        }
        #panel .toggle-btn
        {
            position: absolute;
            left: 230px;
            top: 20px;

        }
        #panel .toggle-btn span
        {
            display: block;
            width: 30px;
            height: 5px;
            background: #151719;
            margin: 3px 0px;

        }
            button
        {      
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

        }
        button
        {
background: black;
    color:white;
    width: 164%;
    position: relative;
    height: 28px;
    box-shadow: 0 0 6px grey;
    left: 1651%;
    top: -250px;
    border: 1px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .06s;
    overflow: hidden;
        }
        button:focus
        {
            outline: none;

        }
        button:before
        {
            content: '';
            display: block;
            position: absolute;
            background: rgba(255,255,255,.5);
            width: 60px;
            height: 100%;
            left: 0;
            top: 0;
            opacity: .5s;
            filter: blur(30px);
            transform: translate(-130px) skewX(-15deg);


        }
        button:after
        {
                        content: '';
            display: block;
            position: absolute;
            background: rgba(255,255,255,.2);
            width: 30px;
            height: 100%;
            left: 30px;
            top: 0;
            opacity: 0;
            filter: blur(30px);
            transform: translate(-100px) scaleX(-15deg);
        }
        button:hover
        {
            background:white;
            cursor: pointer;
            color: black;

        }
        button:hover:before
        {
            transform: translate(300px) skewX(-15deg);
            opacity: 0.6;
            transition: 0.7s;
        }
                button:hover:after
        {
            transform: translate(300px) skewX(-15deg);
            opacity: 1;
            transition: 0.7s;
        }

                .center-line {
            position: absolute;
            height: 32px;
            width: 0px;
            top: 16px;
            border: 1px solid #dddddd;
            vertical-align: center;
        }

       
.search-icon {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 9px;
}
                .label-search-icon-1 {
               vertical-align: center;
    width: 64px;
    height: 64px;
    bottom: -15px;
    left: 47px;
    position: relative;
        }

        .search-icon-1, .header-search-icon-1 {
            position: absolute;
            opacity: 0;
        }

        .label-search-icon-2 {
              vertical-align: center;
    width: 64px;
    height: 64px;
    bottom: -15px;
    left: 92px;
    position: relative;
        }

        .search-icon-2, .header-search-icon-2 {
            width: 64px;
            height: 64px;
            position: absolute;
            opacity: 0;
        }
          .header-search-box {
                height: 12%;
    border: 1px solid #30C29A;
    border-radius: 10px;
    box-shadow: 0 0 6px grey;
    width: 800px;
    margin-top: 47px;
    background-color: #ffffff;
        }

        .header-search-box:hover {
            box-shadow: 0 0 10px gray;
        }
.immg
{
         position: fixed;
    left: 37%;
    bottom: 46%;
    height: 40%;
    width: 24%;
}
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}
.image-upload > input
        {
            display: none;
        }

        .image-upload img
        {
            width: 80px;
            cursor: pointer;
        }
#canvas{
           position: relative;
    height: 562px;
    width: 453px;
    left: 791px;
    top: 17px;
    background-color: #91c230cc;
    z-index: 2;
    display: none;
        }
        #canvas button{
           position: relative;
    top: 396px;
    left: 46px;
    width: 93px;
    height: 41px;
    margin: 65px;
    display: inline-block;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 11px;
    overflow: hidden;
    transition: 0.2s;
    padding: 10px;
        }
        #canvas button:hover
        {
            color: #255784;
            background: #2196f3;

        }
          .now
        {
             position: relative;
    height: 618px;
    width: 673%;
    left: -160%;
    top: -288px;
    background-color: white;
    z-index: 2;
        }
        #pic{
    width: 400px;
    position: absolute;
    top: 37px;
    height: 400px;
    left: 26px;
    object-fit: contain;
    object-position: center;
        }
        .p
        {
                top: -16px;
    position: relative;
        }

@media (max-width: 1280px)
{
    body
    {
        height: auto;
        width: auto;
    }
button {
        left: 1029%;
    width: 160%;
}
.header-search-box {
        left: 14%;
    top: 53%;
    width: 68%;
    height: 9%;

}
.search-input{
        height: 0%;
    width: 65%;
    left: 2%;
    font-size: 145%;

}

.immg {
         width: 37%;
    left: 31%;
    height: 29%;
    bottom: 40%;
    object-fit: contain;
    object-position: center;
}
   #canvas
{   
          left: 55%;
    top: 0%;
} 
.now
{
        width: 307%;
    height: 2233px;
}
.center-line {
        top: 6%;
    height: 80%;
    }
}
