
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="
    ../static/style2.css">
</head>
<body>
    <div class="logo">
        <img class="immg" src="../static/prologo.png">
    </div>
    <div id="panel">
        <div class="toggle-btn" onclick="togglepanel()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li>Contact</li>
            <li>About</li>
            <li id="recent" onclick="window.location.href='recent.html'">Recent</li>
        </ul>
    </div> 
    <div class="wrapper">
        <div class="btn">
            <button id="login">Login</button>
        </div>
    </div>

    <div class="header-search-box">
        <form id="upload-file" action="/web/item/upload_flower_to_save" method="post" enctype="multipart/form-data">
            <input id='search' class="search-input" autocomplete="off" type="text" name="word" placeholder="Upload picture or search by the name">
            <span class="center-line"></span>
            <div class="search-icon">
                <input id="header-page" style="display: none" name="page">
                <input id="header-region" style="display: none" name="region">
                <div class="image-upload">
                   <input id="file-input" type="file" name="img" oninput="showpic(this)" accept="image/*" / >
               </div>
               <label for="file-input"  class="label-search-icon-1">
                <img onclick="showpic(this)" src="https://static.picturethisai.com/production/icons/web/icon_photo.png">
            </label>
            <label class="label-search-icon-2">
                <input id="searchbtn" class="header-search-icon-2" type="button" onclick="searchstring()">
                <img src="https://static.picturethisai.com/production/icons/web/icon_search.png">
            </label>
        </div>
    </form>
</div>
<div class="now">
 <div id="canvas">
  <img id="pic" >
  <button onclick="$('#canvas').hide();">Try Another!</button>
  <button onclick="send()">Continue</button>
</div>
</div>
<footer>
    <p>
        Created by rimold,sarath,alphonsa,ashwin
    </p>
</footer>

<script src='../static/jquery.js'></script>
<script type="text/javascript">
    
    var ip= 'http://localhost:8050';
    console.log(localStorage.getItem('name'));
    
    if(localStorage.getItem('name')==null){
       document.getElementById('login').onclick=function(){window.location.href="new12.htm"};
       
       document.getElementById('recent').style.display="none";
   }
   else{
    $("#login").text(localStorage.getItem('name').replace(/"/g,""));
         //show recent
         document.getElementById('login').onclick=function(){
             val=confirm('are you sure to log out?');
             if(val){
                localStorage.removeItem('name');
                localStorage.removeItem('email');
                location.reload();    
            }
        }
    }
    
    function togglepanel() {
        document.getElementById("panel").classList.toggle('active');
    } 
    function searchstring(){
        search = document.getElementById('search').value;
        if(search==""){
            alert("please enter keyword to search");
            return;
        }
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
              localStorage.setItem('data',this.responseText);
              window.location.href="rosenew.html";
          }
          else if(this.readyState==4 && this.status==0){
            alert("connection error!");
        }
        
    }
    xhttp.open("GET", ip+'/classify?flowername='+search, true);
    xhttp.send();
}
function showpic(input){
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#pic')
            .attr('src', e.target.result);

            $('#canvas').show();
        };

        reader.readAsDataURL(input.files[0]);
    }
}
function togglepanel() {
    document.getElementById("panel").classList.toggle('active');
} 
function showpic(input){
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#pic')
            .attr('src', e.target.result);

            $('#canvas').show();
        };

        reader.readAsDataURL(input.files[0]);
    }
}
function send() {
    var form = document.getElementById('file-input');   
    var file = form.files[0];
    var data = new FormData();
    data.append('img', file);
    console.log(data);
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            alert(this.responseText);
        }
    };
    xhr.open('POST' , ip+'/classify', true);
    xhr.send(data);
    
}
var input = document.getElementById("search");

// Execute a function when the user releases a key on the keyboard
input.addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
    document.getElementById('searchbtn').click();
}
});
</script>
</body>
</html>
